<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- This is the default URL for NuGet Push. It can be overridden with the -Source parameter --> 
	<add key="DefaultPushSource" value="https://p-nexus.nl.eu.abnamro.com:8443/nexus/service/local/nuget/NuGet_COESD_Gallery/" />
  </config>
  <!-- The packageSources lists the URLs to search for available Packages -->
</configuration>